#tag {
    background-color: var(--code-kbd-background-color);
    color: var(--code-kbd-color);
    vertical-align: baseline;
    margin: 0.15rem;
    /* white-space: nowrap; */
}

.img{
    height: 24px;
    width: 24px;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);
}

.nav-bottom {
    height: 0;
    border: 0;
    border-top: 1px solid var(--muted-border-color);
    color: inherit;
}

body {
    padding-top: 91.8px;
}